<section id="home">
    <div class="container-fluid d-none d-md-block">
        <ngb-carousel>
            <ng-template ngbSlide>
                <img src="./assets/img/image1.jpg" alt="first image" class="item">
            </ng-template>
            <ng-template ngbSlide>
                <img src="./assets/img/image2.jpg" alt="second image" class="item">
            </ng-template>
            <ng-template ngbSlide>
                <img src="./assets/img/image3.jpg" alt="third image" class="item">
            </ng-template>
            <ng-template ngbSlide>
                <img src="./assets/img/image4.jpg" alt="fourth image" class="item">
            </ng-template>
            <ng-template ngbSlide>
                <img src="./assets/img/image5.jpg" alt="fifth image" class="item">
            </ng-template>
        </ngb-carousel>
    </div>
</section>